page-artikel-baca {
	.text{
		text-align: justify;
	}
	.grey{
		color: #ddd;
	}
	.info{
		font-size: 80% !important;
		border-bottom: 2px solid #34495e;
	}
}

.judul {
	font-size: 22px;
	color: #2980b9;
}

.text {
	font-size: 17px;
	color: #34495e;
}
