<!--
  Generated template for the ArtikelBaca page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Baca</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div padding *ngFor="let post of posts">
    <h3 primary>
      <b>{{post.judul_artikel}}</b>
    </h3>
    <p class="info">
      Oleh : {{post.nama_user_input}}. Pada {{post.tanggal}}.
    </p>
    <p class="text" [innerHTML]="post.isi_artikel">
    </p>
    <ion-badge item-right secondary> <ion-icon name="eye"></ion-icon>  Lihat : {{post.total_baca}}</ion-badge>
    <ion-badge item-right instagram> <ion-icon name="chatbubbles"></ion-icon>  Komentar : {{post.total_komentar}}</ion-badge>
    <ion-badge item-right primary><ion-icon name="snow"></ion-icon> Padi </ion-badge>
  </div>
  <hr>
  
  <p class="judul" padding-left instagram>
      Komentar :
  </p>
  <div *ngIf="nocom" padding>
    
      <p style="text-align: center"><i>Belum ada komentar</i></p>

  </div>
  <div *ngFor="let com of comments">
    <ion-card>
      <ion-card-header class="midnight">
        <b>{{com.nama_user_input}}</b> <span class="grey" style="font-size: 70%;"> pada {{com.tanggal_komentar | date: 'dd/MM/yyyy HH:mm'}}</span>
      </ion-card-header>
      <ion-card-content>
       <p [innerHTML]="com.isi_komentar"></p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="tulisKomentar()"><ion-icon name="chatboxes"></ion-icon></button>
  </ion-fab>
</ion-content>
